{:dependencies {org.clojure/tools.cli {:mvn/version "1.0.214"}}
 :paths   [:project-paths :resources-paths]
 :aliases {:project-paths   ["src"]
           :resources-paths ["resources"]
           :main aoc.main/main}}
